#app {
  .tabs li a.tabs-inner {
    border-radius: 0;
  }

  .tabs-header,
  .tabs-tool {
    background-color: #f2f2f2;
  }

  .tabs li.tabs-selected a.tabs-inner {
    border-bottom: 3px solid #3c8dbc;
  }
}
.datagrid-header-row {
  background: #f9f9f9;
}

.f-table {
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  .ivu-table {
    color: #000;
    font-size: 14px;
    .ivu-table-row {
      td:last-child {
        border-right: none;
      }
    }

    th {
      background-color: #f9f9f9;
      font-weight: normal;
    }
    th:last-child {
      border-right: none;
    }

    .ivu-table-cell {
      padding: 0 4px;
    }
  }
  .ivu-table-border td,
  .ivu-table-border th {
    border-width: 0 1px 1px 0;
    border-style: dotted;
    border-color: #ccc;
  }
  .ivu-table-small td {
    height: 32px;
  }

  .ivu-table-small .ivu-table-cell-with-expand {
    height: 32px;
    line-height: 32px;
  }
}
